.lockIndicator {
  cursor: default;
  user-select: none;

  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}

.emoji {
  font-size: 1rem;
  line-height: 1;
}

.label {
  font-size: 0.75rem;
  line-height: 1;
  color: var(--color-text-secondary);
}
